$color-background: rgb(206, 173, 168);
$color-background-additional: rgba(226, 125, 109, 0.87);
$color-background-dark: rgba(181, 125, 117, 0.87);
$color-puzzles: rgb(182, 228, 213);
$color-puzzle-additional: rgb(130, 199, 165);
$color-text: rgba(72, 119, 107, 1);
$color-text-dark: rgba(44, 76, 64, 1);
$color-dark: rgba(0, 0, 0, 1);
$color-light: rgba(255, 255, 255, 1);
